<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Donut Tycoon</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <h1>This is from the main template</h1>
  <body>
