<%- include ../partials/mainHead.ejs %>

<h2>All Shops</h2>
<ul>
  <% shops.forEach(function(shop) { %>
    <li><%= shop.name %> - <%= shop.city %></li>
  <% }) %>
</ul>

<%- include ../partials/mainFoot.ejs %>
